<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.concretesolutions.cantina">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application>
        <activity
            android:name=".ui.activity.DebtListActivity_"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity_"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ListProductActivity_"
            android:screenOrientation="portrait" />


    </application>

</manifest>
