<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.concretesolutions.cantina">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="br.com.concretesolutions.cantina.compras.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission
        android:name="br.com.concretesolutions.cantina.compras.permission.C2D_MESSAGE" />

    <application>
        <activity
            android:name=".ui.activity.DebtListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.ListProductActivity"
            android:theme="@style/AppTheme.Animate"
            android:screenOrientation="portrait" />

        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="br.com.concretesolutions.cantina.compras" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
